@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Studiul Individual</h1>
    <p>Gestionați produsele din baza de date pentru acest proiect.</p>

    <a asp-controller="Products" asp-action="Index" class="btn btn-primary">
        Gestionare Produse
    </a>
</div>
